.name-title{
	color: white;
	text-align: center;
	padding-top: 200px;
	font-family: 'Oxygen', sans-serif;
	letter-spacing: 7px;
}

.name{
	font-size: 40px;
}

.pipes{
	font-size: 20px;
	margin-top: 10px;
}

.row{
	margin: auto;
}

#header{
	font-size: 12px;
	color: white;
	position: fixed;
	text-align: right;
	background-color: rgba(0,0,0,0.7);
	height: 55px;
	padding-top: 4px;
	z-index: 1;
}

.nav-list{
	display: inline-block;
	padding: 15px 12px;
	transition: background-color 1s linear;
	text-decoration: none;
	color: white;
}

.nav-list:hover{
	background-color: rgba(24,202,230,1);
}

.navigator:hover{
	text-decoration: none;
}

.navigator:focus{
	text-decoration: none;
}

.banner{
	height: 750px;
	background-image: url("./img/third.png");
	background-position: center;
	background-attachment: fixed;
  background-size: cover;
}

#about{
	padding-top: 80px;
	min-height: 550px;
	perspective: 9700px;
}

.profile-pic{
	margin-bottom: 20px;
}

.profile-text{
	font-family: arial;
	font-size: 21px;
	line-height: 40px;
	letter-spacing: 4px;
	text-indent: 40px;
}

.col-md-5{
	transform: rotateX(45deg);
}

.quote{
	font-style: italic;
	
}

.by{
	font-style: italic;
	text-align: right;
}

#projects{
	color: white;
	min-height: 750px;
	padding-top: 80px;
	background-color: black;
}

#skills{
	min-height: 550px;
	padding-top: 80px;
}

#contacts{
	min-height: 300px;
	background-color: black;
	padding-top: 40px;
	color: white;
}

.title{
	text-align: center;
	font-size: 40px;
	font-family: 'Poiret One', cursive;
	margin-bottom: 30px;
}

.project-container{
		margin-right: 15px;
		margin-left: 15px;
	}

.project{
	margin-bottom: 50px;
	box-shadow: 0px 0px 20px white;
	border-radius: 7px
}

.password{
	text-align: center;
	letter-spacing: 2px;
	color: white;
}

.project:hover{
	box-shadow: 0px 0px 30px rgba(24,202,230,1);
	color: white;
}

.project-link:hover{
	text-decoration: none;
}

.project-link:focus{
	text-decoration: none;
}


h2{
	text-align: center;
	color: white;
	letter-spacing: 4px;
	font-family: 'Oxygen', sans-serif;
}

.text{
	text-indent: 30px;
	line-height: 30px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: justify;
	color: white;
}

.skill-container{
	margin-bottom: 70px;
	text-align: center;
}

.skill{
	font-size: 100px;
}

.img-responsive{
	border-radius: 2% 2% 0% 0%; 
}

.contact-container{
	text-align: center;
	margin-bottom: 30px;
}

.contact{
	font-size: 130px;
}

@media(min-width: 750px){
	.project-container{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-right: 55px;
		margin-left: 55px;
	}
	.project{
		flex: 0 2 48%;
	}
	
	.password{
		margin-top: 30px;
	}
}

@media(max-width: 650px){
	.contact{
		font-size: 100px;
	}

	.skill{
		font-size: 100px;
	}

	.pipes{
		font-size: 15px;
		letter-spacing: 6px;
		margin-top: 20px;
	}
	#header{
		font-size: 10px;
	}
	.nav-list{
		padding: 15px 8px 15px 8px;
	}

	.text{
		display: none;
	}

	.project-container{
		padding-bottom: 1px;
	}

	.profile-text{
		font-size: 12px;
		line-height: 30px;
		letter-spacing: 3px;
	}
}

.contact-hover{
	text-decoration: none;
	color: white;
}

.contact-hover:hover{
	text-decoration: none;
}

.contact-hover:focus{
	text-decoration: none;
}

.email-container{
	text-align: center;
	font-size: 20px;
	padding-bottom: 20px;
} 
