.name-title{
	color: white;
	text-align: center;
	padding-top: 200px;
	font-family: 'Oxygen', sans-serif;
	letter-spacing: 7px;
}

.name{
	font-size: 40px;
}

.pipes{
	font-size: 20px;
	margin-top: 10px;
}

.row{
	margin: auto;
}

#header{
	font-size: 12px;
	color: white;
	position: fixed;
	text-align: right;
	background-color: rgba(0,0,0,0.9);
	height: 55px;
	padding-top: 4px;
	z-index: 1;
}

.nav-list{
	display: inline-block;
	padding: 15px 12px;
	transition: background-color .5s linear;
	text-decoration: none;
	color: white;
}

 
a:focus { 
	outline: 0; 
}

.nav-list:hover{
	background-color: rgba(24,202,230,1);
}

.hamburger-nav{
	background-color: rgba(0, 0, 0, 0.9);
	position: fixed;
	top: 55px;
	display: none;
	z-index: 1;
}

#hamburger-list{
	margin-bottom: 0px;
}

.hamburger-nav-list{
	list-style: none;
	line-height: 50px;
	text-decoration: none;
	display: block;
	height: 50px;
	margin: 0px -15px 0px -55px;
	text-align: center;
	color: white;
	transition: background-color .2s linear;
}

.hamburger-nav-list:hover{
	background-color: rgba(24,202,230,1);
	text-decoration: none;
	color: white;
}

.hamburger-nav-list:focus{
	text-decoration: none;
}

.banner{
	height: 750px;
	background-image: url("./img/city1.png");
	background-position: center;
	background-attachment: fixed;
  background-size: cover;
}

.hamburger{
  background:none;
 	margin: -8px -5px;
  padding:0px 10px 0px 10px;
  color: white;
  border:0;
  font-size: 30px;
  cursor:pointer;
  outline:none;
  display: none;
}

#about{
	padding-top: 80px;
	min-height: 550px;

}

.profile-pic{
	margin-bottom: 20px;
}

.profile-text{
	font-family: 'Oxygen', sans-serif;
	font-size: 19px;
	line-height: 40px;
	letter-spacing: 3px;
	text-indent: 40px;
	margin-top: 40px;
}

.quote{
	font-style: italic;
	
}

.by{
	font-style: italic;
	text-align: right;
}

#work{
	min-height: 750px;
	padding-top: 80px;
}

#work .col-md-6{
	margin-bottom: 50px;
}

#work img{
	box-shadow:1px 1px 20px;
}

#work img:hover{
	opacity:.7;
}

#work a{
	color:#000000;
}

@media screen and (max-width:991px){
	#work img{width:100%};
}

#projects{
	color: white;
	min-height: 750px;
	padding-top: 80px;
	background-color: black;
}

#skills{
	min-height: 550px;
	padding-top: 80px;
	overflow: hidden;
}

#contacts{
	min-height: 300px;
	background-color: black;
	padding-top: 40px;
	color: white;
}

.title{
	text-align: center;
	font-size: 40px;
	font-family: 'Poiret One', cursive;
	margin-bottom: 30px;
}

.project-container{
		margin-right: 15px;
		margin-left: 15px;
	}

.project{
	margin-bottom: 50px;
	box-shadow: 1px 1px 20px;
	border-radius: 7px
}

.description{
	font-family: 'Oxygen', sans-serif;
	letter-spacing: 1px;
}

.password{
	text-align: center;
	letter-spacing: 2px;
	color: white;
}

.project:hover{
	opacity:.7;
}

.project-container .project{
	background-color:#ffffff;

}
.project-container .description .text,.project-container .description .password{
	color:#000000;
}

.project-link:hover{
	text-decoration: none;
}

.project-link:focus{
	text-decoration: none;
}


h2{
	text-align: center;
	color: white;
	letter-spacing: 4px;
	font-family: 'Oxygen', sans-serif;
}

.text{
	text-indent: 30px;
	line-height: 30px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: justify;
	color: white;
}

.skill-container{
	margin-bottom: 70px;
	text-align: center;
}

.skill{
	font-size: 100px;
}

.img-responsive{
	/* border-radius: 2% 2% 0% 0%; */
}

.project-img{
	display: flex;
	width: 100%;
}

.project{
	display: flex;
	width: 100%;
}

.project h2{
	color:#000000;
}

.banner2{
	height:500px;
	background-image: url("./img/background2.png");
	background-position: center;
	background-attachment: fixed;
  	background-size: cover;
}

.contact-container{
	font-family: 'Oxygen', sans-serif;
	letter-spacing: 2px;
	text-align: center;
	margin-bottom: 30px;
}

.contact{
	font-size: 130px;
}

@media(min-width: 750px){
	.project-container{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-right: 55px;
		margin-left: 55px;
	}
	.project{
		flex: 0 2 48%;
	}
	
	.password{
		margin-top: 30px;
	}

}

@media(max-width: 650px){
	.contact{
		font-size: 100px;
	}

	.skill{
		font-size: 100px;
	}

	.pipes{
		font-size: 15px;
		letter-spacing: 6px;
		margin-top: 20px;
	}

	.nav-list{
		display: none;
	}

	.hamburger{
		display: inline-block;
	}

	.text{
		display: none;
	}

	.project-container{
		padding-bottom: 1px;
	}

	.profile-text{
		font-size: 12px;
		line-height: 30px;
		letter-spacing: 3px;
	}
}

.contact-hover{
	text-decoration: none;
	color: white;
}

.contact-hover:hover{
	text-decoration: none;
}

.contact-hover:focus{
	text-decoration: none;
}

.email-container{
	font-family: 'Oxygen', sans-serif;
	letter-spacing: 3px;
	text-align: center;
	font-size: 20px;
	padding-bottom: 20px;
} 
